# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
gradlew
gradlew.bat
.gradle/file-system.probe
.gradle/7.5.1/gc.properties
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.gradle/7.5.1/checksums/sha256-checksums.bin
.gradle/7.5.1/checksums/sha512-checksums.bin
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
build/publications/mavenJava/module.json
build/publications/mavenJava/pom-default.xml
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
.idea/kotlinc.xml
.gradle/8.3/gc.properties
.gradle/8.3/checksums/checksums.lock
.gradle/8.3/checksums/md5-checksums.bin
.gradle/8.3/checksums/sha1-checksums.bin
.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
.gradle/8.3/dependencies-accessors/gc.properties
.gradle/8.3/executionHistory/executionHistory.lock
.gradle/8.3/fileChanges/last-build.bin
.gradle/8.3/fileHashes/fileHashes.lock
